body{
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 4vh;
    text-align: center;
    align-items: center;
    background-size: cover;
    background-image: url(../img/gatinhos-ricos.jpeg);
    color: rgb(0, 50, 0);
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
}
#formsalario{
    background-color: white;
    border-radius: 30px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2%;
    box-shadow: 0 0 10px #636363;
    text-align: center;
    align-items: center;
    height: auto;
    min-height: 35vh;
    display: flex;    
    flex-direction: column;   
    justify-content: space-between;

}
#formdespesas, #infos, #resumo{
    background-color: white;
    border-radius: 30px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 2%;
    padding: 2%;
    box-shadow: 0 0 10px #636363;
    text-align: center;
    align-items: center;
    height: auto;
    min-height: 35vh;
    display: flex;    
    flex-direction: column;   
    justify-content: space-between;

}
button {
    margin-left: 20%;
    margin-right: 20%;
    padding: 15px;
    font-size: 3vh;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    border: none;
    box-shadow: 0 0 10px #636363;
    border-radius: 20px;
    cursor: pointer;
}
button[type="submit"]:hover {
  background-color: #f6f6f6;
}
input[type="button"] {
    margin-left: 20%;
    margin-right: 20%;
    padding: 15px;
    font-size: 3vh;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    border: none;
    box-shadow: 0 0 10px #636363;
    border-radius: 20px;
    cursor: pointer;
}
input[type="button"]:hover {
  background-color: #f6f6f6;
}
input[type="text"], input[type="date"], input[type="number"]{
    border-radius: 10px;
    width: 70%;
    height: 4vh;
}
li{
    color: red;
}